.coworkers-page {
    padding: 20px;
  
    h1 {
      margin-bottom: 40px;
      font-size: 25px;
    }
  
    .coworkers-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content:center;
    }
  }
  